.btn {
  font-family: 'Gilroy', sans-serif;
}

.active {
  border-color: #0046FA;
  background-color: #0046FA;
  color: white;
  &:hover {
    border-color: #0046FA;
    background-color: #0046FA;
    color: white;
  }
}
